*{
    margin: 0;
    padding: 0;
}

#titulo{
    font-family: sans-serif;
    color: rgb(252, 251, 251);
    margin-left: 7%;
}

#subtitulo{
    font-family: sans-serif;
    color: rgb(89, 13, 160);
    margin-left: 10%;
}

fieldset {
    border: 0;
}

body{
    background-color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-size: 1em;
    color: rgb(236, 222, 20);
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}

input, select, textarea, button{
    border-radius: 1em;
}